
<%= form_with model: @task, local: true do |f|%>

 <div class="form-name">
  <h2>日記の投稿</h2>
 </div>

 <div class="top-name">
  日付
 </div>

 <div class="form-pulldown">
  <div class="calender">
   西暦
   <%= f.collection_select(:year_id, Year.all, :id, :name, {prompt:"---"}, {class:"select-box"}) %>
  </div>
  <div class="calender">
   月
   <%= f.collection_select(:month_id, Month.all, :id, :name, {prompt:"---"}, {class:"select-box"}) %>
  </div>
  <div class="calender">
   日
   <%= f.collection_select(:date_id, Day.all, :id, :name, {prompt:"---"}, {class:"select-box"}) %>
  </div>
  <div class="calender">
   曜日
   <%= f.collection_select(:dayofweek_id, Dayofweek.all, :id, :name, {prompt:"---"}, {class:"select-box"}) %>
  </div>
  <div class="calender">
   天気
   <%= f.collection_select(:weather_id, Weather.all, :id, :name, {prompt:"---"}, {class:"select-box"}) %>
  </div>
 </div>

 <div class="field">
  <%= f.label :title, "タイトル" %><br />
  <%= f.text_field :title, class: 'form-control' %>
 </div>

 <div class="field">
  <%= f.label :sentence, "今日のできごと" %><br />
  <%= f.text_area :sentence, class: 'form-control',rows: "10", cols: "80" %>
 </div>

  <%= f.submit "記録する", class: :form_btn %>
<% end %>